Repository gomods/athens, pull requests merged in 2018-10, with the labels that each got.

#742 Adding section headers to the docs
  docs/content/contributing/_index.md
  docs/content/design/_index.md
  docs/content/install/_index.md
  docs/content/intro/_index.md
  docs/themes/hugo-theme-learn/layouts/install/list.html
Labels: docs

#755 Include weekly development meetings within documentation
  docs/content/_index.md
  docs/content/contributing/community/_index.md
  docs/content/contributing/community/developer-meetings.md
  docs/content/contributing/community/participating.md
  docs/content/contributing/maintainers/_index.md
  docs/content/contributing/new/_index.md
Labels: docs

#743 Changing the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: community

#650 Added Docker sub-section to Proxy section in Walkthrough
  docs/content/walkthrough.md
Labels: docs

#759 Update docs to mention that we have added gcp and stackdriver as well
  docs/content/faq.md
Labels: docs

#764 Adding elevator pitch
  docs/content/_index.md
Labels: docs

#745 Updated communication docs
  docs/content/design/communication.md
  docs/static/athens-clear-scenario.png
  docs/static/athens-new-proxy-old-olympus-scenario.png
  docs/static/athens-private-repo-scenario.png
Labels: docs

#747 Docs from vcs to user
  docs/content/design/from-vcs2user.md
  docs/static/from-vcs-to-user.png
Labels: docs, on hold

#810 adding a space before "(english version)" in the contributor docs
  docs/content/contributing/community/participating.md
Labels: docs

#812 Remove olympus mention in doc comment
  pkg/download/upstream_lister.go
Labels: docs

#815 Do not download modules during CI build
  go.mod
  scripts/check_golint.sh
  scripts/get_buffalo.sh
  scripts/get_dev_tools.sh
  scripts/test_unit.sh
  vendor/github.com/gobuffalo/tags/shoulders.md
  vendor/github.com/gobuffalo/tags/version.go
Labels: ci/cd

#802 removing registry page
  DEVELOPMENT.md
  README.md
  docs/content/design/proxy.md
  docs/content/design/registry.md
  docs/content/faq.md
  docs/content/intro/components.md
  docs/themes/hugo-theme-learn/layouts/index.html
Labels: docs

#823 Replace all occurrences of proxy with official name
  docs/content/_index.md
  docs/content/configuration/authentication.md
  docs/content/design/_index.md
  docs/content/design/communication.md
  docs/content/design/proxy.md
  docs/content/faq.md
  docs/content/install/install-on-kubernetes.md
  docs/content/install/shared-team-instance.md
  docs/content/try-out.md
  docs/content/walkthrough.md
Labels: awaiting review, docs

#803 Adding docs on PR triaging
  .github/ISSUE_TEMPLATE/first_triage.md
  docs/content/contributing/community/triaging.md
Labels: community, docs

#837 Remove FilterOff from the env var
  cmd/proxy/actions/app.go
  config.dev.toml
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/proxy.go
Labels: refactor
