Repository gomods/athens, pull requests merged in 2019-03, with the labels that each got.

#1095 adding a section on immutability
  docs/content/install/_index.md
Labels: docs

#1102 Updating helm docs to point to the new helm chart repository
  docs/content/install/install-on-kubernetes.md
Labels: docs

#1104 Updating docs to reference v0.3.0
  charts/athens-proxy/templates/_helpers.tpl
  charts/athens-proxy/values.yaml
  docs/content/install/_index.md
  docs/content/install/install-on-aci.md
  docs/content/install/shared-team-instance.md
Labels: docs

#1098 Further alterations to the install documentation
  docs/content/install/_index.md
Labels: docs

#1091 ci/cd: add .drone.yml file
  .drone.yml
  pkg/storage/compliance/tests.go
  pkg/storage/gcp/gcp_test.go
Labels: do not merge

#1128 Add translation for intro
  docs/content/intro/_index.zh.md
  docs/content/intro/components.zh.md
  docs/content/intro/first-content.zh.md
  docs/content/intro/protocol.zh.md
Labels: localization

#1134 docs: translate intro into spanish
  docs/config.toml
  docs/content/_index.es.md
Labels: localization
